<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Battlefield</title>
        <style type="text/css">
            html, body {
                height: 100%;
                margin: 0px;
            }
        </style>

        <link href="/static/libs/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="/static/libs/visjs/vis.css" rel="stylesheet" type="text/css" />

        <script src="/static/libs/jquery/jquery.js"></script>
        <script src="/static/libs/bootstrap/js/bootstrap.js"></script>
        <script src="/static/libs/visjs/vis.js"></script>

        <script src="/static/framework/rest_client/rest_client.js"></script>
        <script src="/static/framework/world/world.js"></script>
    </head>

    <body>
        <div id="menu" class="modal fade">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 id="menuTitle" class="modal-title">Title</h4>
                    </div>
                    <div it="menuBody" class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="battlefield" style="height:100%;"></div>
        <script src="/static/game/maps/battlefield/battlefield.js"></script>
    </body>
</html>
