{% extends "layout.html" %}
{% block body %}
<h1>Index</h1>

<div id="container">
    <style>
        #graph-container
        {
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            position: absolute;
        }
    </style>
    <div id="graph-container"></div>
</div>

<script src="static/sigma.js-v1.0.3/sigma.min.js"></script>
<script>
    var i;
    var N = 10;
    var E = 20;
    var g =
    {
      nodes: [],
      edges: []
    };

    for (i = 0; i < N; i++)
    {
        g.nodes.push(
        {
            id: 'Node ' + i,
            label: 'Node ' + i,
            x: Math.random(),
            y: Math.random(),
            size: 5
        });
    }

    for (i = 0; i < E; i++)
    {
        g.edges.push(
        {
            id: 'e' + i,
            source: 'Node ' + (Math.random() * N | 0),
            target: 'Node ' + (Math.random() * N | 0),
            size: Math.random()
        });
    }

    var s = new sigma(
    {
        graph: g,
        container: 'graph-container'
    });

    s.bind('clickNode', function(element)
    {
        console.log(element.data.node.id)
    })
</script>
{% endblock %}
