{% extends "layout.html" %}
{% block body %}
<h1>Index</h1>

<div id="container">
    <style>
        #graph-container
        {
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            position: absolute;
        }
    </style>
    <div id="graph-container"></div>
</div>

<script src="static/sigma.js-v1.0.3/sigma.min.js"></script>
<script>
    var i;
    var g =
    {
      nodes: [],
      edges: []
    };

    {% for node in nodes %}
        g.nodes.push(
        {
            id: '{{ node.name }}',
            label: '{{ node.name }}',
            x: {{ node.position_x }},
            y: {{ node.position_y }},
            size: 5
        });
    {% endfor %}

    for (i = 0; i < 5; i++)
    {
        g.edges.push(
        {
            id: 'e' + i,
            source: 'node' + (Math.random() * 5 | 0),
            target: 'node' + (Math.random() * 5 | 0),
            size: Math.random()
        });
    }

    var s = new sigma(
    {
        graph: g,
        container: 'graph-container'
    });

    s.bind('clickNode', function(element)
    {
        console.log(element.data.node.id)
    })
</script>
{% endblock %}
